<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome Admin</h1>
    <header>
        <button id="logout">Log Out</button>
    </header>
    <div>
        <h2>All Restaurants </h2>
        <ul id="res-list"></ul>
        <section id="res-pagination">
        </section>
    </div>
    <br>
    <br>
    <div id="post-restaurant">
        <h1>Add a Restaurant</h1>
        <form id="form">
            <label for="restaurant-name">Restaurant Name</label>
            <input id="restaurant-name" placeholder="Restaurant Name"></input>
            <br>
            <br>
            <label for="restaurant-address">Address</label>
            <input id="restaurant-address" placeholder="Address...."></input>
            <br>
            <br>
            <label for="restaurant-description">Description......</label>
            <br>
            <textarea id="restaurant-description" cols="30" rows="5"></textarea>
            <br>
            <br>
            <button id="postrestaurant">Add Restaurant</button>
        </form>
    </div>
    <script src="admin.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</body>
</html>