<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Welcome to Restaurant Review App</h1>
    <header>
        <!-- <button id="account">Account</button>
        <button id="logout">Log Out</button> -->
    </header>
    <!-- <button id="create-blog">Create Blog</button> -->
    <div>
        <h2>Restaurants Details</h2>
        <ul id="res-list"></ul>
        <!-- <section id="author-pagination">
        </section> -->
    </div>
    <br>
    <br>
    <!-- <div>
        <h2>Recent Blogs</h2>
        <ul id="recent-blogs"></ul>
        <section id="blog-pagination">
        </section>
    </div> -->
    <script src="main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
</body>
</html>